$white-color: rgb(46, 44, 44);
$gray-color: #c7c2c2;
$red-color: #c62829;
$light-gray-color: rgb(15, 9, 9);
$green-color: #033503;

// fonts
$font-bold: 'Font Bold';
$font-medium: 'Font Light';
$font-regular: 'Font Regular';
