// colors
$white-color: #fff;
$gray-color: #666666;
$red-color: #c62829;
$light-gray-color: #ccc;
$green-color: #009500;

// fonts
$font-bold: 'Font Bold';
$font-medium: 'Font Light';
$font-regular: 'Font Regular';
